@media screen and (min-width: 768px) {
  body {
    width: 100%;
    #home {
      gap: 6rem;
      min-height: 100vh;
      nav {
        background-color: rgba(128, 128, 128, 0.653);
        padding: 10px;
        #menu-toggle {
          display: none;
        }
        ul.menu-list {
          display: flex;
          background-color: transparent;
          position: relative;
          gap: 1rem;
          justify-content: flex-end;
          flex-direction: row;

          li {
            list-style: none;
            text-decoration: none;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
        #menu-button {
          display: none;
        }
      }
      .header-text {
        text-align: center;
        margin-top: 7rem;

        .arrow-down-about {
          margin-top: 10rem;

          a {
            color: white;
            font-size: 1.5rem;
          }
        }
      }
    }
    #about {
      .team-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 2rem;
        .team-member {
          img {
            width: 300px;
            height: 300px;
          }
          p {
            width: 450px;
            padding: 15px;
          }
        }
      }
    }
    #contact {
      .contact-container {
        justify-content: space-around;
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}
