@media screen and (min-width: 768px) {
  body {
    width: 100%;
    #home {
      nav {
        background-color: rgba(128, 128, 128, 0.653);
        padding: 0;

        ul.menu-list {
          display: flex;
          background-color: transparent;
          position: relative;
          top: 0;
          justify-content: flex-end;
          flex-direction: row;
          li {
            list-style: none;
            text-decoration: none;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
        #menu-button {
          display: none;
        }
      }
      .header-text {
        text-align: center;
        gap: 0;
        margin-top: 9rem;
        h1 {
          margin-top: 3rem;
          font-size: 1.4rem;
        }

        .arrow-down-about {
          margin-top: 14rem;
          a {
            color: white;
            font-size: 1.1rem;
          }
        }
      }
    }
    #about {
      .team-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 2rem;
        .team-member {
          img {
            width: 300px;
            height: 300px;
          }
          p {
            width: 450px;
            padding: 15px;
          }
        }
        .team-member:nth-child(3) {
          p {
            width: fit-content;
          }
        }
      }
    }
    #contact {
      .contact-container {
        justify-content: space-around;
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}
