//mobile media query

@media (max-width: 480px) {
  body {
    header {
      gap: 12rem;
      nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;

        #menu-button {
          display: block;
          background-color: transparent;
          padding: 10px;
          border: none;
          transition: transform 0.3s ease;

          &.open {
            transform: rotate(90deg);
          }
        }
        ul {
          gap: 10px;
          padding-right: 0;
          transition: max-height 0.3s ease; /* Smooth transition */
          display: none;
          width: 100%;

          li {
            a {
              font-size: 1em;
            }
          }
        }
        .arrow-down {
          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}
